frontend/website/dist
frontend/website/tmp
frontend/website/out-tsc
frontend/website//bazel-out
frontend/website/ssl
frontend/website/node_modules

backend/.vscode
backend/API/bin
backend/API/obj
backend/API/Logs
backend/API/Properties
backend/API/appsettings.Development.json
backend/API/appsettings.json
backend/Core/bin
backend/Core/obj
backend/Data/bin
backend/Data/obj
backend/Data/Migrations
backend/Models/obj
backend/Models/bin
backend/.DS_Store
backend/API/dump.rdb

chrome-profiler-events*.json
speed-measure-plugin*.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
frontend/website/.sass-cache
frontend/website/connect.lock
frontend/website/coverage
frontend/website/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
frontend/website/typings
.DS_Store
Thumbs.db
Makefile
.prettierrc
.eslintrc
.eslintignore