frontend/website/dist
frontend/website/tmp
frontend/website/out-tsc
frontend/website//bazel-out
frontend/website/ssl
frontend/website/node_modules
chrome-profiler-events*.json
speed-measure-plugin*.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
frontend/website/.sass-cache
frontend/website/connect.lock
frontend/website/coverage
frontend/website/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
frontend/website/typings
.DS_Store
Thumbs.db
Makefile
.prettierrc
.eslintrc
.eslintignore