<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Help</mat-card-title>
        <mat-card-subtitle>Do you have a problem?</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="text-center"><h2>Contact</h2></mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-stroked-button color="accent" class="action-button">
          <mat-icon>live_help</mat-icon>
          Request support
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Account</mat-card-title>
        <mat-card-subtitle>Your Account Number</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="text-right"><h2>0195953-0</h2></mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-stroked-button color="accent" class="action-button">
          <mat-icon>transform</mat-icon>
          Perform Transfer
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Current Balance</mat-card-title>
        <mat-card-subtitle>Amount currently in your account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="text-right">
        <h2>$150,00</h2>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-stroked-button color="accent" class="action-button">
          <mat-icon>attach_money</mat-icon>
          Make a deposit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
